@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(180.16deg, #FFFCC4 0.14%, #D9B88F 186.43%);
  font-family: 'Abhaya Libre', serif;
  div#container {
    section.main-section {
      justify-items: center;
      div.buttons-container {
        display: flex;
        filter: drop-shadow(0px 0px 10px #0000006c);
      }
    }
  }
}


@media screen and (min-width: 340px){
  #container, section.main-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}